<a href="https://colab.research.google.com/github/engineercha/Python-study/blob/master/%EC%8B%A4%EC%8A%B52.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###선택문

####실습2

if(조건):
> 실행할 문장1

> 실행할 문장2

In [1]:
a=200

if a<100:
    print("100보다 작군요")
    print("거짓이므로 이 문장은 안 보이겠죠?")
print("거짓이므로 이 문장은 안 보이겠죠?")  #오류는 나지 않으나, 의도와 다르게 동작
print("프로그램 끝")

#들여쓰기 오류
money=1000
water=500
if water<money:
    print("생수를 뽑는다")
    print("물을 마신다")
#        print("시원하다")
    print("시원하다")

거짓이므로 이 문장은 안 보이겠죠?
프로그램 끝
생수를 뽑는다
물을 마신다
시원하다

####실습6
if(조건):
> 실행할 문장1

elif(조건):
> 실행할 문장2

else:

In [2]:
score=int(input("점수를 입력하세요: "))

if score>=90: print("A")
elif score>=80: print("B")
elif score>=70: print("C")
elif score>=60: print("D")
else: print("F")

print("학점입니다. ^^")

점수를 입력하세요: 98
A
학점입니다. ^^

###반복문

####실습8
range함수: 숫자 리스트를 자동으로 생성, range(start,stop,step)

In [3]:
for n in range(10):
    print(n, end=' ')
print()

for n in range(1,11):
    print(n, end=' ')
print()

for n in range(1,11,2):
    print(n, end=' ')
print()

for n in range(10,0,-1):    #10부터 1까지 출력
    print(n, end=' ')
print()

for n in range(10,-1,-1):   #10부터 0까지 출력
    print(n, end=' ')
print()

i, hap=0, 0.0
for i in range(1,11,1):
    hap=hap+i
print("1부터 10까지의 합계: %d" %hap)

0 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 3 5 7 9
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1 0
1부터 10까지의 합계: 55

####실습10
사용자가 입력한 단의 구구단, 전체 구구단 출력

In [4]:
i, dan=0, 0
dan=int(input("단을 입력하세요: "))

for i in range(1,10,1):
    print("%d x %d = %2d" %(dan, i, dan*i))
print()

for dan in range(2,10,1):
    for i in range(1,10,1):
        print("%d x %d = %2d" %(dan, i, dan*i))

단을 입력하세요: 2
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 =  6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 =  7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 =  8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

####실습11
구구단 가로 출력

In [5]:
#전역변수 선언
i,k,guguLine=0,0,""

#단수 출력
for i in range(2,10):
    guguLine=guguLine+("#   %d단  #\t" %i)
print(guguLine)

#메인코드
for i in range(1,10):
    guguLine=""
    for k in range(2,10):
        guguLine= guguLine+ str("%d x %d = %2d\t" %(k, i, k*i))
    print(guguLine)

#   2단  #	#   3단  #	#   4단  #	#   5단  #	#   6단  #	#   7단  #	#   8단  #	#   9단  #
2 x 1 =  2	3 x 1 =  3	4 x 1 =  4	5 x 1 =  5	6 x 1 =  6	7 x 1 =  7	8 x 1 =  8	9 x 1 =  9
2 x 2 =  4	3 x 2 =  6	4 x 2 =  8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 =  6	3 x 3 =  9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 =  8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

###While문

In [6]:
i,hap=0,0

i=1                     #초기식
while i<11:             #조건식
    hap=hap+i
    i=i+1               #증감식
print("1에서 10까지의 합계: %d" %hap)

1에서 10까지의 합계: 55

####실습19
별 특수문자로 마름모 출력

In [7]:
#전역변수 선언
i,k=0,0

#메인코드
i=0
while i<9:
    if i<5:     #i가 0~4일 때
        k=0
        while k<4-i:
            print('  ',end='')
            k+=1
        k=0
        while k<2*i+1:
            print('\u2605',end='')
            k+=1
    
    else:       #i가 5~8일 때
        k=0
        while k<i-4:
            print('  ',end='')
            k+=1
        k=0
        while k<2*(9-i)-1:
            print('\u2605',end='')
            k+=1
    print()
    i+=1

        ★
      ★★★
    ★★★★★
  ★★★★★★★
★★★★★★★★★
  ★★★★★★★
    ★★★★★
      ★★★
        ★

###Print 함수

Escape Sequence: 특수한 의미를 가진, \ 뒤에 문자나 숫자가 오는 조합

\n, \t, \r(현재 줄의 맨 앞글자로 이동), \b(한칸 앞을 지움), \x00(16진수 문자형 반환) (\x41: 65 ('A')

In [8]:
print("Hello")

print("%d" %100)
print("%d, %d" %(100,200))  #출력 데이터가 여러 개일 때, 서식과 숫자 대응
#print("%d" %(100,200))     #오류
#print("%d, %d" %100)

print("%d / %d =%5.1f" %(100,200,0.5))

print("--------------------------")
print("%d" %123)
print("%5d" %123)
print("%05d" %123)
print("--------------------------")
print("%f" %123.45)
print("%7.1f" %123.45)
print("%7.3f" %123.45)
print("--------------------------")
print("%s" %"Python")
print("%10s" %"Python")
print("--------------------------")
#print("Error is %d%" %98)
print("Error is %d%%" %98)

#특수 표기법
print("\n줄바꿈\n연습")
print("\t탭키\t연습")
print("\\\\\\역슬래시 3개 출력")
print("줄바꿈 기호: \\n")
print("탭  키 기호: \\t")
print("줄바꾸기")
print("줄바꿈")
print("줄바꾸지 말기", end=' ')
print("같은 줄에 출력")

Hello
100
100, 200
100 / 200 =  0.5
------------%d--------------
123
  123
00123
------------%f--------------
123.450000
  123.5
123.450
------------%s--------------
Python
    Python
------------%%--------------
Error is 98%

줄바꿈
연습
	탭키	연습
\\\역슬래시 3개 출력
줄바꿈 기호: \n
탭  키 기호: \t
줄바꾸기
줄바꿈
줄바꾸지 말기 같은 줄에 출력