<a href="https://colab.research.google.com/github/engineercha/Python-study/blob/master/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

코딩활용, 왕초보도 만드는 AI 자율주행자동차

- ~~12회차 프로그래밍 개요~~
- ~~13회차 파이썬 이해~~
- ~~14회자 숫자와 문자~~
- ~~15회차 bool형과 조건문~~
- ~~16회차 리스트와 튜플~~
- ~~17회차 딕셔너리~~
- ~~18회차 언패킹과 반복문~~
- 19회차 함수
- 20회차 클래스
- 21회차 라이브러리

## 12강 파이썬

뱀을 형상화한 것

1. 컴파일 언어와 스크립트 언어

컴파일 언어: 코딩을 하면 컴파일 후 실행파일이 만들어지고 이 파일을 실행하는 형식
스크립트 언어: 코딩을 하면 인터프리터가 바로 해석하고 실행할 수 있게 해줌, 문법에 제약이 없지만 실행이 조금 느리다는 단점

2. 동적 타이핑

자료형을 코드에 작성할 필요가 없지만, 컴퓨터가 자동으로 알아차려야 하기 떄문에 느리다는 단점

3. 파이썬 자료형

- 수치형: int, float, complex
- 문자열: str
- 튜플: tuple (내부적으로 값을 전달할 때 튜플을 사용)
- 리스트: list (여러 값을 받음)
- 사전: dict (키와 값이 하나의 데이터)
집합: set

list, dict, set은 mutable하고 tuple은 immutable함

4. 변수

변하는 수를 의미, a=1은 1이라는 값을 a라는 변수에 할당한다고 말함, 재사용과 재할당이 가능함

메모리는 address와 공간으로 이루어짐, 컴퓨터 프로그램에서 존재한다는 것은 메모리에 있다는 뜻임, 변수는 메모리의 주소를 가르킴

ex) 0000에 1이, 0001에 차수빈이라는 값이 저장돼는데 각 주소를 num과 name으로 이름 지어주면 변수 num을 사용하는 것은 값 1을 사용하는 것과 동일함

## 13강 숫자와 문자

int(정수): 양의 정수, 0, 음의 정수

float(정수가 아닌 유리수): 분수와 분수로 표현 가능한 소수

In [20]:
apple=3

In [21]:
half_apple=2.5

In [22]:
print(apple+2, type(apple+2))
print(apple+0.5, type(apple+0.5))
print(half_apple+0.5, type(half_apple+0.5))

5 <class 'int'>
3.5 <class 'float'>
3.0 <class 'float'>

- 정수형에 실수를 더하면 실수형이 됨
- 실수형에 자연수가 되게 하는 실수를 더해도 정수형이 되지 않음

In [23]:
one=1
two=2
one+two

3

In [24]:
str1='he said '
str2='hello'
str1+str2

'he said hello'

In [25]:
num1=10
num2=3
print(num1/num2)
print(num1//num2) #몫
print(num1%num2)  #나머지

3.3333333333333335
3
1

In [26]:
print('hello')
print('he said "hello"')
print('he said \'hello\'')

hello
he said "hello"
he said 'hello'

In [27]:
name='차수빈'
print(type(name))

<class 'str'>

## 14강 Bool형과 조건문

1. Bool(진리값): True와 False, 첫글자는 대문자여야 함

2. if조건문: 조건이 2개 이상이면 elif문이나 else문을 사용함, elif와 else는 혼자 쓸 수 없으며 else는 안 쓰거나 1번만 씀, elif문은 만약 위의 조건이 아니고 이번 조건이라면 실행하고 else문은 위의 조건이 아니면 실행(조건문이 없음)

In [28]:
t1=True
f1=False
print(t1,f1)
print(type(t1),type(f1))

True False
<class 'bool'> <class 'bool'>

In [29]:
print(1==1, 1!=1, 2<3, 2>3, 2<=3, 2>=3)

True False True False True False

True 또는 False를 대입해도 되지만, 조건이 들어갔을 때도 자동으로 bool형으로 판단함

In [30]:
sun=False
rain=True

if sun:
    print('사과를 따러 간다')
elif rain:
    print('집에 머문다')

print('if의 영향을 받지 않고 무조건 출력')

집에 머문다
if의 영향을 받지 않고 무조건 출력

다른 언어에서는 중괄호를 사용하는데 파이썬은 들여쓰기로 if문 안에 있는 코드블럭을 파악함

## 15강 리스트와 튜플

여러값을 한번에 저장하고 관리하는 자료형

1. 리스트

[객체, 객체, 객체]

리스트에 객체의 메모리주소가 담김, 메모리주소가 반드시 연속일(순서대로일) 필요는 없음, 편하게 꺼내기(탐색하기) 위한 자료형임

리스트와 튜플의 차이점은? 리스트는 언제든 객체를 넣었다 뺐다 할 수 있지만 ***튜플은 수정 불가능함(불변객체임)*** 보안을 위해 사용함


2. 인덱싱

순서가 있는 데이터타입에 사용 가능하며, 특정 객체를 사용하기 위해 그 객체의 순서(인덱스)를 사용하는 방법임

- zero based indexing: 인덱스 번호가 0부터 시작함, 파이썬
- one based indexing

In [31]:
a=10
b=20
l1=[a,b] #대괄호 
t1=(a,b) #소괄호
l1,t1

([10, 20], (10, 20))

In [32]:
c=l1,t1
type(c)

tuple

In [33]:
mylist=[1,2,3,4,5,6,7,8,9]
mytuple=(1,2,3,4,5,6,7,8,9)

print(mylist[0], mytuple[0])
print(mylist[-1], mytuple[-1])
print(mylist[-9], mytuple[-9])

1 1
9 9
1 1

In [34]:
mylist[-len(mylist)] #후진인덱싱에서 첫번째 요소의 인덱스는 데이터의 길이와 같음

1

In [35]:
nums=(1,2,3,4,5)

for i in range(0,5): #0부터 4까지
    print(nums[i])

for i in range(-1,-6,-1): #-1부터 -5까지
    print(nums[i])

1
2
3
4
5
5
4
3
2
1

## 16강 딕셔너리

{키:값, 키:값, 키:값}

중괄호 안에 key와 value를 넣는 자료형임, key값은 단일값을 주어야 함(수치형, 문자형 또는 그를 가르키는 변수), value는 리스트나 튜플을 주어도 됨
- mutable함
- 빠름: mapping 기법, hash 알고리즘을 사용하기 때문에 다량 데이터에 대해 list, tuple에 비해 매우 빨리 데이터를 탐색할 수 있음
- key가 중복되면 값이 마지막 것으로 덮어씌워짐

In [36]:
d1={'name':'차수빈', 1:'one', 2:'two', 'list':[1,2,3], 'tuple':(1,2,3)}
print(d1)
print(d1['name']) 
print(d1[1]) #인덱싱 아님, 그저 key를 사용한 탐색임
print(d1[2])

{'name': '차수빈', 1: 'one', 2: 'two', 'list': [1, 2, 3], 'tuple': (1, 2, 3)}
차수빈
one
two

In [37]:
#추가
d1['program']='python'
print(d1)
print(d1['program'])

{'name': '차수빈', 1: 'one', 2: 'two', 'list': [1, 2, 3], 'tuple': (1, 2, 3), 'program': 'python'}
python

In [38]:
#삭제
del d1['program']
print(d1)

{'name': '차수빈', 1: 'one', 2: 'two', 'list': [1, 2, 3], 'tuple': (1, 2, 3)}

In [39]:
d2={1:'a', 1:'b', 1:'c'}
print(d2)

{1: 'c'}

## 17강 언패킹과 반복문

언패킹

tuple, list, dic는 언패킹할 수 있음, 패킹이 자동으로 이뤄졌을 때만 언패킹을 사용할 수 있음

반복문

크게 while과 for로 나뉨 

1. while은 조건이 참일 동안 실행문을 반복함, 조건이 계속 참이면 while문이 끝나지 않고 이를 무한루프라 함, 조건은 반드시 거짓이 되도록 만들야 함
2. for은 가변수와 반복자(반복할 데이터)로 구성됨
- [1,2,3,4] 이면 앞에서부터 하나씩 차례대로 꺼내서 가변수에 저장 후 실행문에서 처리함, 더이상 꺼낼 게 없을 때 반복을 종료
- [(1,2),(3,4)] 같은 경우 (1,2)과 (3,4)가 아니라 1,2,3,4를 직접적으로 쓰고 싶을 수 있음, 가변수를 2개 쓸 수 있음
- [(1,2,3),(4,5,6)] 이면 가변수 3개를 쓸 수 있음

In [40]:
for x,y,z in [[1,2,3],[4,5,6]]:
    print(x, end=' ')
    print(y, end=' ')
    print(z)

1 2 3
4 5 6

In [41]:
i=0
while i<10:
    print(i)
    i+=1      #복합할당연산자(old에 1을 더해 new에 할당)

0
1
2
3
4
5
6
7
8
9

In [42]:
l1=[1,2,3,4,5]
for x in l1: print(x)

1
2
3
4
5

In [43]:
l2=[[1,2],[3,4]]
for x in l2:
    print(x)
    
for x, y in l2:
    print(x,y)

[1, 2]
[3, 4]
1 2
3 4

In [44]:
d1={'name':'차수빈', 'program':'파이썬', 1:100}

print(d1.items())  #리스트 안에 튜플
print(d1.keys())   #리스트
print(d1.values()) #리스트

for key,val in d1.items():
    print(key,val)

dict_items([('name', '차수빈'), ('program', '파이썬'), (1, 100)])
dict_keys(['name', 'program', 1])
dict_values(['차수빈', '파이썬', 100])
name 차수빈
program 파이썬
1 100